@import '../../scss/variables';
@import '../../scss/mixins';

.planet {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 200px 1fr 1fr;
    grid-template-areas:
        "sections"
        "image"
        "info"
        "details";
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @include mq(md) {
        grid-template-columns: 60% 40%;
        grid-template-rows: 500px 1fr auto;
        grid-template-areas:
            "image image"
            "info sections"
            "details details";
        padding: 0 30px;
    }

    @include mq(xl) {
        grid-template-columns: 800px 400px;
        grid-template-rows: 1fr 1fr auto;
        grid-template-areas:
            "image info"
            "image sections"
            "details details";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 40px;
    }
}

.image {
    grid-area: image;
    // background-color: white;
}

.info {
    grid-area: info;
    // background-color: cyan;
}

.sections {
    grid-area: sections;
}

.details {
    grid-area: details;
    // background-color: pink;
}