$white: rgb(255, 255, 255);
$black: rgb(7, 7, 36);
$dark-gray: rgb(56, 56, 79);
$light-gray: rgb(131, 131, 145);

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);