@use 'sass:math';

$sqrt: math.sqrt(2);

$white: rgb(255, 255, 255);
$black: rgb(7, 7, 36);
$dark-gray: rgb(56, 56, 79);
$light-gray: rgb(131, 131, 145);

$mercury: hsl(194, 48%, 49%);
$venus: hsl(33, 82%, 61%);
$earth: hsl(263, 67%, 51%);
$mars: hsl(10, 63%, 51%);
$jupiter: hsl(2, 68%, 53%);
$saturn: hsl(17, 73%, 46%);
$uranus: hsl(169, 73%, 44%);
$neptune: hsl(222, 87%, 56%);

$mercury-revolution: 2.41s;
$venus-revolution: 22.16s;
$earth-revolution: 36.5s;
$mars-revolution: 68.62s;
$jupiter-revolution: 432.89s;
$saturn-revolution: 1075.29s;
$uranus-revolution: 3066s;
$neptun-revolution: 6014.84s;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);